.form {
	box-sizing: border-box;
	margin: 5em auto 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	width: 60vw;
	max-width: 500px;
	min-width: 320px;
	padding: 2em;
	border-radius: 8px;
	background-color: #fff;
}

.form.valid input {
	border: 1px solid rgb(219, 44, 44);
	background-color: rgba(255, 0, 0, 0.18);
}
