.form {
    box-sizing: border-box;
	margin: 5em auto 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	width: 60vw;
	max-width: 500px;
	min-width: 320px;
	padding: 2em;
	border-radius: 8px;
	background-color: #fff;
}

.form__box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.form__label {
	flex: 1;
    color: #464646;
}

.form__input {
	flex: 3;
	padding: 0.35rem 0.35rem;
	border-radius: 6px;
	border: 1px solid #ccc;
}
