.form__box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.form__label {
	flex: 1;
	color: #464646;
}

.form__input {
	flex: 3;
	padding: 0.35rem 0.35rem;
	border-radius: 6px;
	border: 1px solid #ccc;
}

.form__box.valid input {
	border: 1px solid rgb(219, 44, 44);
	background-color: rgba(255, 0, 0, 0.18);
}

.form__input:focus {
	border: 1px solid #ccc;
	background-color: rgb(255, 255, 255);
}
